{% extends 'Base.html' %}
<!DOCTYPE html>
<html>
    {% block content %}
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% if form %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <p style="margin-left: 10px;">{{ form.name.label }}</p>
        <p style="margin-left: 50px;">{{ form.name() }}</p>

        <br>
        <p style="margin-left: 10px;">{{ form.email.label }}</p>
        <p style="margin-left: 50px;">{{ form.email() }}</p>
        
        
        <br>
        <p style="margin-left: 10px;">{{ form.password.label }}</p>
        <p style="margin-left: 50px;">{{ form.password() }}</p>
        
        
        <br>
        <p style="margin-left: 10px;">{{ form.passwordRepeat.label }}</p>
        <p style="margin-left: 50px;">{{ form.passwordRepeat() }}</p>
        
        
        <br>
        <p style="margin-left: 50px;">{{ form.remember.label }} {{ form.remember() }}</p>
        
        <br>
        {{ form.submit() }}
    {% endif %}
    {{ % if message == "Регистрация прошла успешно" % }}
        <a href="/log">Авторизация</a> 
    {{% endif %}}
    {{ message }}


        



    </form>







    {% endblock %}
</body>
</html>